body{
font-family: 'Varela Round', sans-serif;
margin: 0;
padding: 0;
}

video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content{
  text-align: center;
  position: relative;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
}

/*CITY NAME*/
#cityName {
 font-size: 3em;
}

/*TRY ANOTHER CITY LINK*/
h2 {
 align-self: center;
}

a{
 color: inherit;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: lime;
}

a:active {
  text-decoration: underline;
  color: yellow;
}

footer{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
   input[type=search] {
    font-size: 1.5em;
    padding: 6px 10px 6px 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    color: white;
    background-image: url('images/search-icon32.png');
    background-position: 5px 5px; 
    background-color: darkcyan;
    background-repeat: no-repeat;
    transition: .2s;
  }
   #go{
    border-radius: 4px;
    padding: 6px;
    font-size: 1.5em;
    border: none;
    color: white;
    background-color: darkgreen;
   }

   #refresh{
    padding: 7px;
    border-radius: 4px;
    box-sizing: border-box;
    background-image: url('images/icons8-reset-12.png');
    background-repeat: no-repeat;
   }
   
   input[type=search]:focus {
   background-color: #3CBC8D;
}
   #go:hover {
     background-color: green;
    }
   
article, footer {
  border-radius: 20%;
  box-shadow: 5px 5px 5px black;
  border: 1px solid #434343;
  font-size: 1.3em;
}

footer{
  background-color: black;
}
 /*************
  GRID LAYOUT
**************/

.grid-container-one
{
 display: grid;
 grid-gap: 10px;
 padding: 10px;
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 justify-content: space-around;
}

.grid-container-two {
display: grid;
grid-gap: 10px;
padding: 10px;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
justify-content: space-around;
}

@media only screen and (max-width: 850px) {
  .empty {
    display: none;
  }
}

@media only screen and (max-width: 270px) {
  body {
    min-width: 275px;
  }
}
